:root{
  --primary-color:rgb(248, 208, 179);
  --secondary-color: rgb(114, 58, 18) ;
  --shadow: 7px 4px 15px rgb(170, 162, 162);
  --shadow-hover: 1px 2px 10px rgb(170, 162, 162);
}
body{
  background-image: url(/images/Croissant\ image.jpeg);
  background-size: 100%;
  color: var(--secondary-color);
}

nav{
  background-color: rgb(248, 223, 200);
  padding: 20px 10px;
  
}
a{
  color: var(--secondary-color);
}
.main{
  background-color: var(--primary-color);
  display: block;
  margin: 0 20%;
  padding: 3% 5%;
  text-align: center;
}


img{
  display: block;
  margin: 0 auto;
  width: 100%;
  border-radius: 5px;
}
.aboutCroissant{
  width: 50%;
}

#toPhotos{
  display: block;
  text-align: center;
  color: rgb(135, 125, 118);
  text-decoration: none;
  background-color: rgb(242, 179, 180);
  padding: 15px 30px;
  margin: 20px 20%;
  border-radius: 5px;
  box-shadow: var(--shadow);
}

#toPhotos:hover{
  box-shadow: var(--shadow-hover);
  color:aliceblue;
  text-decoration: underline;
}

.funFacts{
  text-align: left;
}